// FONT FAMILY **/
$font-family-base: 'Comic Neue', cursive;

// BREAKPOINTS **/
$breakpoint-tiny-screens: 375px;
$breakpoint-small-screens: 450px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1000px;
$breakpoint-bs-sm: 576px;
$breakpoint-bs-md: 768px;
$breakpoint-bs-lg: 992px;
$breakpoint-bs-xl: 1200px;
$breakpoint-header: 850px;

// COLORS **/
$brand-color: #535058;
$brand-color-alt: #FFCCB2;
$brand-color-lighter: #164e4773;
$brand-color-alt-lighter: #f8c94962;
$brand-color-light: #91BD93;
$brand-color-dark: #808D8C;
$brand-text-color: #a7a7a7;
$brand-input-border: #bbc4c3;
$brand-input-disabled: #c4c4c446;
$brand-input-placeholder: #164e4777;
$avatar-color: #5B2525;
$nav-active-color: #2B786E;
$nav-inactive-color: #9C9C9C;
$nav-background-color: #2b786e36;
$nav-logout-color: #2F070E;
$nav-logout-background-color: #2f070e65;
$color-success: #41b661;
$color-danger: #b80202;